# Web scrapping- data to `bridge app`

## Short description
In our project we try to create app which enable to see statistics and progress of selected player. Additionally, we can follow rating of particular player and compare it to other.

## Creating data frame of played boards

In the first step we create data frame where we store data of played boards. Boards are from `KMP`tournament- taking place every month with about 500 pairs.

To get this data we can use `pandas` library, which enable easy web scrapping. Firstly we have to create some pipelines to structure data.

In [1]:
import pandas as pd
import requests
import math
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
def get_hist(vector,n=30):
    pd.read_html(requests.get(f"https://r.bridgespider.com/{vector[0]}/prot/{1}/").content)[-1].to_csv("mydata.csv")
    tmp=pd.read_csv('mydata.csv')
    tmp['nr_rozdania']=1
    tmp['nr_turnieju']=vector[0]
    for j in range (len(vector)):
        for i in range(1,n):
            if j>0:
                i=i-1
            pd.read_html(requests.get(f"https://r.bridgespider.com/{vector[j]}/prot/{i+1}/").content)[-1].to_csv("mydata.csv")
            zz=pd.read_csv('mydata.csv')
            zz['nr_rozdania']=i+1
            zz['nr_turnieju']=vector[j]
            tmp=pd.concat([tmp,zz])
    return tmp

In [4]:
def pipeline(df2):
    df2=df2.drop(['Unnamed: 0','ośrodek','runda','wist','Unnamed: 11','lew','kontrakt'],axis=1)
    df2['rozg.']=df2['rozg.'].replace(['E','W'],'EW')
    df2['rozg.']=df2['rozg.'].replace(['N','S'],'NS')
    df2['zapis_NS']=df2['zapis']
    df2['zapis_EW']=df2['zapis']*(-1)
    df2=df2.drop('zapis',axis=1)
    return df2

In [5]:
def pipeline2(df_x):
    tmp1=df_x.copy()
    tmp2=df_x.copy()
    tmp1=tmp1.drop(['EW','% EW','zapis_EW'],axis=1)
    tmp1['linia']='NS'
    tmp2=tmp2.drop(['NS','% NS','zapis_NS'],axis=1)
    tmp2['linia']='EW'
    tmp1.columns=['id','rozg','wynik','nr_rozdania','nr_turnieju','zapis','linia']
    tmp2.columns=['id','rozg','wynik','nr_rozdania','nr_turnieju','zapis','linia']
    tmp=pd.concat([tmp1,tmp2])
    return tmp

In [6]:
def refactor(history):
    history=pipeline(history)
    history=pipeline2(history)
    return history

These 4 functions allow us to create our first data frame. Unfortunately, we have only id unique for particular tournament. Now we need data frame with names of these players. To get access to the data we have to use once again web scrapping tools. After this action we merge these 2 data frames and receive data set with almost unique id (name and surname).

## Create data frame with scores and names

In [7]:
def scores_pipeline(url):
    pd.read_html(requests.get(url).content)[-1].to_csv("mydata.csv")
    df=pd.read_csv('mydata.csv')
    df=df.drop(['Unnamed: 0','+/-','pkl', 'pdf'],axis=1)
    return df

In [49]:
def regex_trans_scores(df):
    import re
    pierwszy=[]
    drugi=[]
    for i in range(len(df)):
        pierwszy.append(re.findall('[aA-ZŻŹĆĄŚĘŁÓŃ][^A-ZŻŹĆĄŚĘŁÓŃ]*', df.nazwiska[i])[0]+re.findall('[aA-ZŻŹĆĄŚĘŁÓŃ][^A-ZŻŹĆĄŚĘŁÓŃ]*', df.nazwiska[i])[1])
        drugi.append(re.findall('[aA-ZŻŹĆĄŚĘŁÓŃ][^A-ZŻŹĆĄŚĘŁÓŃ]*', df.nazwiska[i])[2]+re.findall('[aA-ZŻŹĆĄŚĘŁÓŃ][^A-ZŻŹĆĄŚĘŁÓŃ]*', df.nazwiska[i])[3])
    
    df['nazwisko_1']=pierwszy
    df['nazwisko_2']=drugi
    df=df.drop('nazwiska',axis=1)


    wk1=[]
    wk2=[]
    for i in range(len(df)):
        wk1.append(re.findall("\d+\.\d", df.wk[i])[0])
        wk2.append(re.findall("\d+\.\d", df.wk[i])[1])
    df['wk_1']=wk1
    df['wk_2']=wk2
    df=df.drop(['wk','ośrodek','okręg'],axis=1)
    return df

In [9]:
def pipeline3(scores):
    scores_1=scores[['m-ce', 'nr', '%', 'nazwisko_1','wk_1','nr_turnieju']]
    scores_2=scores[['m-ce', 'nr', '%', 'nazwisko_2','wk_2','nr_turnieju']]
    
    scores_1['nazwisko']=scores_1['nazwisko_1']
    scores_2['nazwisko']=scores_2['nazwisko_2']
    
    scores_1['wk']=scores_1['wk_1']
    scores_2['wk']=scores_2['wk_2']
    
    scores_1=scores_1.drop(['nazwisko_1','wk_1'],axis=1)
    scores_2=scores_2.drop(['nazwisko_2','wk_2'],axis=1)
    
    scores_new=pd.concat([scores_1,scores_2])
    return scores_new

Now we can merge data frame history and scores on `name`. However, we have to remember that it can be possible that exist 2 players with the same name and surname. We can't manage with this fact because of not having unique id for every player. Our solution is to delete all players with same name and surname. It's a simplification but not so meningful.

## Players data frame
Now we download data frame with all players who played at least once in tournament. From this table we get `PID`- unique id. Then we can merge on this number instead of merging on name and surname.

In [10]:
def creating_players_df():
    url="https://msc.com.pl/cezar/?p=51&rok=0&page=1"
    pd.read_html(requests.get(url).content)[-1].to_csv("mydata.csv")
    df=pd.read_csv('mydata.csv')
    tables = pd.read_html(url,match="klub / drużyna")
    df=tables[2]
    for i in range(337):
        url=f"https://msc.com.pl/cezar/?p=51&rok=0&page={i}"
        tables = pd.read_html(url,match="klub / drużyna")
        df=pd.concat([df,tables[2]])
    return df

In [11]:
def merging_drop_duplicate_names(history,scores,df):
    df.rename(columns = {1: 'PID'}, inplace = True)
    df.rename(columns = {2: 'name'}, inplace = True)
    
    scores=scores.merge(df[['PID','name']],left_on='nazwisko',right_on='name')
    scores=scores.drop(['name'],axis=1)
    
    duplicates=scores[scores[['nr_turnieju','nazwisko']].duplicated(keep=False)]
    scores=pd.concat([scores,duplicates]).drop_duplicates(keep=False)
    return scores,history.merge(scores, left_on=['id','nr_turnieju'],right_on=['nr','nr_turnieju'])

## Progress of player
Other important feature of our app is possibilty to check progress of player. Progress means for us final results of all played tournaments. That's why we have to create one more data frame which contains `PID` of player and all results.

In [12]:
import numpy as np

In [13]:
tab=[25890,25845,25809,25773,25737,25692,24384,24339,24303,24267,24222,24186,24150,22079 ,22043 ,21800,21764,21728,17693,17666] # default tab

In [14]:
def players_progres(history,tab):
    tab.insert(len(tab),'PID')
    vector=history['PID'].unique()
    df_x=pd.DataFrame(index=np.arange(len(vector)), columns=np.arange(len(tab)))
    df_x.columns=tab
    k=0
    for i in range(len(vector)):
        tmp=history[history['PID']==vector[i]][['PID','%','nr_turnieju']].drop_duplicates()
        df2=pd.DataFrame(index=np.arange(1), columns=np.arange(2))
        for j in range(len(tab)-1):
            df2.loc[j,0]=tab[j]

        df2=df2.rename({0:'nr_turnieju'},axis=1)
        df2=df2.merge(tmp,on='nr_turnieju',how='left')

        vec=np.array([vector[i]])
        vec2=df2['%'].to_numpy()
        df_x.iloc[i,:]=np.concatenate((vec2,vec),axis=0)
        k=k+1
        
    return df_x.astype(np.float64)

## Statistics of particular players
Our large data frame include now only scores from all played boards. We need some additional statistics like average result but with specification if player defends or declares. The solution is to separate boards to some categories and add number of columns.

### Separate to declarers and defenders

In [15]:
def separating_def_dec(history):
    declarers=history[history['rozg']==history['linia']]
    defenders=history[history['rozg']!=history['linia']]
    declarers['czy_rozgrywa']=True
    defenders['czy_rozgrywa']=False
    history=pd.concat([declarers,defenders])
    return history

### Separate to kinds of contracts- (częściowka-partial, końcówka, slam or above)
We also need here simplification because of not having access to details of boards. However, having number of points get by declarer (only positive number) we can almost surely predict kind of contract. Additionally, we create category for boards when declarer loses (`Wpadka`) and category for defenders when they achieve positive result (`Kokosy_na_Obronie`).

In [16]:
def separating_contracts(history):
    tmp1=history[ (history['zapis']>0) & (history['czy_rozgrywa'] )]
    tmp1['zapis2']=pd.cut(history['zapis'], bins=[0, 300, 900, math.inf],labels=['częściówka','końcówka','szlemik'], include_lowest=True)
    tmp2=history[ (history['zapis']<0) & (history['czy_rozgrywa']==False )]
    tmp2['zapis2']=pd.cut(history['zapis'], bins=[-math.inf,-900,-300,0],labels=['szlemik','końcówka','częściówka'], include_lowest=True)
    tmp3=history[ (history['zapis']>=0) & (history['czy_rozgrywa']==False )]
    tmp3['zapis2']='Kokosy_na_Obronie'
    tmp4=history[ (history['zapis']<=0) & (history['czy_rozgrywa']==True )]
    tmp4['zapis2']='Wpadka'
    history=pd.concat([tmp1,tmp2,tmp3,tmp4])
    return history

Now we have data frame with results of all boards from selected tournaments. Now we can create new data frame with statistics of particular player. But firstly we need some groupby statements.

In [17]:
def stats_mean(history):
    stats2=history[history['czy_rozgrywa']==True].groupby(['PID'])['wynik'].mean().reset_index(name='średnia_na_rozgrywce')
    stats3=history[history['czy_rozgrywa']==False].groupby(['PID'])['wynik'].mean().reset_index(name='średnia_na_obronie')

    stat=stats2.merge(stats3,on='PID',how="outer")

    stat4=history[history['zapis2']=="Kokosy_na_Obronie"].groupby(['PID'])['wynik'].mean().reset_index(name="Kokosy_na_Obronie")
    stat5=history[history['zapis2']=="częściówka"].groupby(['PID'])['wynik'].mean().reset_index(name="częściówka")
    stat6=history[history['zapis2']=="końcówka"].groupby(['PID'])['wynik'].mean().reset_index(name="końcówka")
    stat7=history[history['zapis2']=="szlemik"].groupby(['PID'])['wynik'].mean().reset_index(name="szlemik")
    stat8=history[history['zapis2']=="Wpadka"].groupby(['PID'])['wynik'].mean().reset_index(name="Wpadka")


    stat=stat.merge(stat4,on='PID',how="outer")
    stat=stat.merge(stat5,on='PID',how="outer")
    stat=stat.merge(stat6,on='PID',how="outer")
    stat=stat.merge(stat7,on='PID',how="outer")
    stat=stat.merge(stat8,on='PID',how="outer")
    return stat

In [18]:
def stats_count(history):
    stats2=history[history['czy_rozgrywa']==True].groupby(['PID'])['wynik'].count().reset_index(name='liczba_rozdan_na_rozgrywce')
    stats3=history[history['czy_rozgrywa']==False].groupby(['PID'])['wynik'].count().reset_index(name='liczba_rozdan_na_obronie')
    stat4=history[history['zapis2']=="Kokosy_na_Obronie"].groupby(['PID'])['wynik'].count().reset_index(name="liczba_rozdan_Kokosy_na_Obronie")
    stat5=history[history['zapis2']=="częściówka"].groupby(['PID'])['wynik'].count().reset_index(name="liczba_rozdan_częściówka")
    stat6=history[history['zapis2']=="końcówka"].groupby(['PID'])['wynik'].count().reset_index(name="liczba_rozdan_końcówka")
    stat7=history[history['zapis2']=="szlemik"].groupby(['PID'])['wynik'].count().reset_index(name="liczba_rozdan_szlemik")
    stat8=history[history['zapis2']=="Wpadka"].groupby(['PID'])['wynik'].count().reset_index(name="liczba_rozdan_Wpadka")
    
    stat=stats2.merge(stats3,on='PID',how="outer")
    stat=stat.merge(stat4,on='PID',how="outer")
    stat=stat.merge(stat5,on='PID',how="outer")
    stat=stat.merge(stat6,on='PID',how="outer")
    stat=stat.merge(stat7,on='PID',how="outer")
    stat=stat.merge(stat8,on='PID',how="outer")
    return stat

We can improve average scores using something like min-max scaler. In this way we compare players to each other. For example a lot of players have score of `Wpadka` equals about 30%. After using our scaler difference beetween players with 30% and 39% is not miserable 9 % but more meaningful.

In [19]:
def stats_percentile(df_stats):
    df_score_upd=pd.DataFrame({'PID':df_stats['PID']})
    vector=['średnia_na_rozgrywce', 'średnia_na_obronie', 'Kokosy_na_Obronie', 'częściówka', 'końcówka', 'szlemik', 'Wpadka']
    for i in vector:
        vec=df_stats[i]
        wektor=[]
        for j in range(len(vec)):
            wektor.append(round((vec[vec<vec[j]].count()/len(vec))*100,2))
        df_score_upd[i]=wektor
    return df_score_upd

Additionally we want to generate ranking of players according to `df_stats`. Which variable should be the most important one? In our opinion, the user should decide about that. So one of input argument allow user to select the ranking's feature.

In [20]:
def generate_ranking(feature,stats): 
    stats=stats[['PID','name',feature]]
    return stats.sort_values(by=feature, ascending=False)

Other idea for creating ranking:
- we got number of tournament results let's say $n$. We can use a weighted average to prepare ranking. The weights would be counted in this way: 
    - last tournament weight=1, previous tournament $\frac{n-1}{n}$, then $\frac{n-2}{n}$ and so on. Last tournament's weight in ranking would be equals $\frac{1}{n}$
    - we divide (sum of results multipled by weights) by sum of weight
    $$\frac{\sum_{j=1}^{n} W_{i}*X{i}}{\sum_{j=1}^{n} W_{i}}   $$
$W_{i}$ - weight of i-th tournament<br>
$X_{i}$ - result of i-th tournament<br>
$n$ - number of played tournaments
- in our opinion is quite fair; players who played only one tournament for example one year ago even with good score don't take the high position
- ranking informs us about progress as well

In [21]:
def new_ranking_generator(players_progress,players):
    df=pd.DataFrame()
    df['PID']=players_progress['PID']
    final=np.array([])
    for j in range(len(players_progress)):
        vec=players_progress.fillna(0).loc[j, :].values.tolist()[0:len(players_progress.columns)-1]
        indexes=[z for z, x in enumerate(vec) if x !=0]    
        weights=np.round(np.arange(1, 0, -1/(len(players_progress.columns)-1)).tolist(),2)
        suma=0
        for i in range(len(indexes)):
            suma+=weights[indexes[i]]
        score=np.sum(np.dot(vec,weights))/suma
        if len(indexes)==1:
            score=0.65*score
        elif len(indexes)==2:
            score=0.8*score
        elif len(indexes)==3:
            score=0.9*score
        elif len(indexes)==4:
            score=0.95*score
        if np.median(indexes)>(len(players_progress.columns)-1)/2:
            score=0.8*score
        final=np.append(final,score)    
    df['ranking']=(final/max(final))*100
    df=df.sort_values(by='ranking',ascending=False)
    df['ranking']=round(df['ranking'],2)
    df['PID']= df['PID']. astype (int)
    df['PID']= df['PID']. astype (str)
    wektor=[]
    for v in df['PID']:
        wektor.append(v.rjust(5,'0'))
    df['PID']=wektor
    df=df.merge(players[['PID','name']],on='PID')
    return df

After this part we have all data frames which we need. Short description:
- `df`: data frames with all players from Polish Bridge Union (`PZBS`)
- `history`: all boards played in selected tournaments
- `scores`: final scores from particular tournament
- `df_stats`: all numbers in cells tells us about percentile of selected player. For example result `50` means that this
player has better result than 50% of all players. Next variables are number of boards played in particular category.

Obviously, we want to easy run this script. In the last part, we write final version of functions, which enable to get data frame which we want.

## Function to get final version of df (players names and id)

In [ ]:
df=creating_players_df()  # you need a little bit of time to get results

## Function to get first version of scores

In [22]:
# input: tab_add is array with ids (except tournament with id 25890 it's set default) of tournaments which you want to select (you can get this number from URL).
def first_score(tab_add,n=25890):
    scores=scores_pipeline("https://r.bridgespider.com/25890/")
    scores=regex_trans_scores(scores)
    scores['nr_turnieju']=n  #create instance for 1 tournament
    scores=pipeline3(scores)
    for v in range(len(tab_add)):
        tmp=scores_pipeline(f"https://r.bridgespider.com/{tab_add[v]}/")
        tmp['nr_turnieju']=tab_add[v]
        tmp=regex_trans_scores(tmp)
        tmp=pipeline3(tmp)
        scores=pd.concat([scores,tmp])
    scores=scores.drop_duplicates(subset = ['%', 'nazwisko'], keep = 'last').reset_index(drop = True)
    return scores

## Function to get final version of history and final version of scores

In [23]:
# input: tab_test- exactly like tab_add but you must add also `25890` tournament
#        scores- output of `first_scores()`
#        df- output of `creating_players_df()`
def final_history_scores(tab_test,scores,df):
    history=get_hist(tab_test)
    history=refactor(history)
    scores,history=merging_drop_duplicate_names(history,scores,df)
    history=separating_def_dec(history)
    history=separating_contracts(history)
    return history

## Function to get final version of df_stats

In [24]:
# input: like above
def final_stats(history,df):
    
    df_stats=stats_mean(history).merge(stats_count(history),on='PID')
    df_stats_new=stats_percentile(df_stats)
    df_stats_new=df_stats_new.merge(df[['PID','name']],on='PID')

    df_stats_new=stats_percentile(df_stats)
    df_stats_new=df_stats_new.merge(df_stats[['PID','liczba_rozdan_na_rozgrywce', 'liczba_rozdan_na_obronie',
       'liczba_rozdan_Kokosy_na_Obronie', 'liczba_rozdan_częściówka',
       'liczba_rozdan_końcówka', 'liczba_rozdan_szlemik',
       'liczba_rozdan_Wpadka']],on='PID')
    df_stats=df_stats_new.merge(df[['PID','name','8']],on='PID')
    df_stats['PID']=df_stats['PID'].astype (str)
    return df_stats

In [ ]:
df_stats=stats_mean(history).merge(stats_count(history),on='PID')
    df_stats_new=stats_percentile(df_stats)
    df_stats_new=df_stats_new.merge(df[['PID','name']],on='PID')

    df_stats_new=stats_percentile(df_stats)
    df_stats_new=df_stats_new.merge(df_stats[['PID','liczba_rozdan_na_rozgrywce', 'liczba_rozdan_na_obronie',
       'liczba_rozdan_Kokosy_na_Obronie', 'liczba_rozdan_częściówka',
       'liczba_rozdan_końcówka', 'liczba_rozdan_szlemik',
       'liczba_rozdan_Wpadka']],on='PID')
    df_stats=df_stats_new.merge(df[['PID','name','8']],on='PID')
    df_stats['PID']=df_stats['PID'].astype (str)

In [48]:
stats_mean(history)

,PID,średnia_na_rozgrywce,średnia_na_obronie,Kokosy_na_Obronie,częściówka,końcówka,szlemik,Wpadka
0,01001,44.475182,43.603596,68.287742,43.828679,48.327959,48.971000,23.698644
1,01006,49.384706,56.491579,67.265000,50.632500,69.172000,97.620000,24.698571
2,01008,54.141000,52.067895,68.852500,61.474444,51.186667,26.540000,20.413333
3,01010,40.470164,46.020844,69.940175,41.521299,41.324578,34.803333,23.330179
4,01024,51.501286,52.707190,78.234000,51.006822,50.095435,59.358750,25.854730
...,...,...,...,...,...,...,...,...
2662,21959,50.275562,43.292944,62.266667,45.039533,49.137304,49.313846,24.144643
2663,21971,49.485085,38.685357,54.015333,49.568049,40.350526,61.070000,27.404706
2664,21972,49.485085,38.685357,54.015333,49.568049,40.350526,61.070000,27.404706
2665,22073,41.735806,42.230000,69.408750,40.512812,30.445333,36.968333,25.240000
2666,22083,42.542105,42.003971,65.786087,40.841667,30.091429,66.435000,25.412667

In [47]:
df[df['PID']=='06115']

,0,PID,name,3,4,5,6,7,8
1369,1243.,06115,Radosław Szopiński,ZP,7,MM,7 667,3,Kigar - Blotka Goleniów

In [44]:
df_stats_x=stats_mean(history).merge(stats_count(history),on='PID')

In [45]:
df_stats_x[df_stats_x['PID']=='06115']

Empty DataFrame
Columns: [PID, średnia_na_rozgrywce, średnia_na_obronie, Kokosy_na_Obronie, częściówka, końcówka, szlemik, Wpadka, liczba_rozdan_na_rozgrywce, liczba_rozdan_na_obronie, liczba_rozdan_Kokosy_na_Obronie, liczba_rozdan_częściówka, liczba_rozdan_końcówka, liczba_rozdan_szlemik, liczba_rozdan_Wpadka]
Index: []

## Function to create stats to website

In [25]:
def stats_to_web(history,df):
    stats_to_website=final_stats(history,df)
    stats_to_website=stats_to_website.rename(columns={'8':'klub'})
    stats_to_website['klub']=stats_to_website['klub'].fillna("Brak klubu")
    stats_to_website=stats_to_website[['PID', 'średnia_na_rozgrywce', 'średnia_na_obronie',
       'Kokosy_na_Obronie', 'częściówka', 'końcówka', 'szlemik', 'Wpadka','name', 'klub']]
    return stats_to_website

## Calling functions
In last step we should create 2 arrays:
- `tab_add` containing all selected tournaments ids except `25890`(default) 
- `tab_test` containg all selected tournaments ids with `25890`(default)
To get to know ids of tournaments, you should use https://bridgespider.com/ website, click on interesting 
you tournament (preffered are tournament calles as `KMP`) and get from URL number between 2 slashes.

## Example
I want to get scores from June and May edition of `KMP` tournament. June's id is `25890` (default selected) and May's id is `25845` (get from URL).

In [73]:
tab_test=[25890,25845,25809,25773,25737,25692,24384,24339,24303,24267,24222,24186,24150,22079 ,22043 ,21800,21764,21728,17693,17666]
compar_tab=[24222,24186,24150,22079 ,22043 ,21800,21764,21728,17693,17666]

In [44]:
dupa=[25890,25845,25809,25773,25737,25692,24384,24339,24303,24267]

---------------------

In [ ]:
df=creating_players_df()  # you need a little bit of time to get results

In [62]:
df=pd.read_csv('df.csv',index_col=False)

In [63]:
history_10=final_history_scores(compar_tab,first_score(compar_tab),df)

In [111]:
history_10.to_csv("history_10.csv",index=False)

In [64]:
history_20=final_history_scores(tab_test,first_score(tab_test),df)

In [91]:
history_20.to_csv("history_20.csv",index=False)

In [45]:
dupxo=final_history_scores(dupa,first_score(dupa),df)

In [63]:
stats_to_website=final_stats(history,df)

## Pierwsze Ładowanie

In [29]:
df,history,stats,scores,players_progress,new_ranking=get_from_csv()

In [65]:
stats_to_website=stats_to_web(history_20,df)

In [93]:
history_10=pd.read_csv("history_10.csv",index_col=False)
history_20=pd.read_csv("history_20.csv",index_col=False)

In [119]:
history_20.to_csv("history.csv",index=False)

In [66]:
players_progress_10=players_progres(history_10,compar_tab)
players_progress_20=players_progres(history_20,tab_test)

In [67]:
new_ranking_10=new_ranking_generator(players_progress_10,df)
new_ranking_20=new_ranking_generator(players_progress_20,df)

In [70]:
new_ranking_10.to_csv("new_ranking_10.csv",index=False)
new_ranking_20.to_csv("new_ranking_20.csv",index=False)

In [78]:
new_ranking_20.to_csv("new_ranking.csv",index=False)

In [68]:
final_ranking=generate_ranking_with_difference(new_ranking_10,new_ranking_20,df)

In [84]:
pd.DataFrame(tab_test).to_csv('zzz.csv',index=False)

In [82]:
tabb=pd.read_csv("zzz.csv",index_col=False)
tabbb=tabb['0']
tab_test_new=np.array(tabbb)
tab_test_new=[25962]+tab_test_new

In [83]:
tab_test_new

array([51852, 51807, 51771, 51735, 51699, 51654, 50346, 50301, 50265,
       50229, 50184, 50148, 50112, 48041, 48005, 47762, 47726, 47690,
       43655, 43628], dtype=int64)

## Kolejne Ładowanie

In [98]:
def update_df(n):
    df,history,stats,scores,players_progress_old,old_ranking=get_from_csv()
    
    tabb=pd.read_csv("zzz.csv",index_col=False)
    tabbb=tabb['0']
    tab_test_new=np.array(tabbb)
    tab_test_new=np.append(n,tab_test_new)
    
    history_1=final_history_scores([n],first_score([n]),df)
    history_new=pd.concat([history_1,history])
    
    stats_to_website=stats_to_web(history_new,df)

    score_1=first_score([n])
    score_1=score_1[score_1['nr_turnieju']!=25890]
    scores_new=pd.concat([scores,score_1])
    
    players_progress_new=players_progres(history_new,tab_test_new.tolist())
    new_ranking=new_ranking_generator(players_progress_new,df)
    final_ranking=generate_ranking_with_difference(old_ranking,new_ranking,df)

    players_progress_new.to_csv("players_progress.csv",index=False)
    new_ranking.to_csv("new_ranking.csv",index=False)
    history_new.to_csv("history.csv",index=False)
    stats_to_website.to_csv("stats.csv",index=False)
    scores_new.to_csv("scores.csv",index=False)
    final_ranking.to_csv("final_ranking.csv",index=False)
    pd.DataFrame(tab_test_new).to_csv("zzz.csv",index=False)
    
    return final_ranking

In [115]:
stats

,PID,średnia_na_rozgrywce,średnia_na_obronie,Kokosy_na_Obronie,częściówka,końcówka,szlemik,Wpadka,name,klub
0,1001,17.60,18.86,34.87,14.42,27.09,45.92,16.33,Andrzej Ankiersztejn,RAGLOT Talent Rzeszów
1,1006,44.59,89.92,25.83,55.61,98.77,89.34,29.84,Zdzisław Baryła,3 Pary Rzeszów
2,1008,71.16,66.62,34.61,96.60,61.11,13.09,11.80,Stanisław Bąk,Brak klubu
3,1010,13.32,23.72,32.66,11.08,15.72,21.84,30.95,Rena Bieda,Brak klubu
4,1021,89.70,63.71,60.40,34.12,55.54,0.00,86.94,Wincenty Chmiel,Brak klubu
...,...,...,...,...,...,...,...,...,...,...
3081,17689,0.00,87.88,65.55,5.77,7.19,0.00,0.00,Maria Firgon,Brak klubu
3082,17947,0.00,56.55,39.18,2.04,2.01,0.00,0.00,Eugeniusz Kozak,Brak klubu
3083,19423,0.00,68.15,21.26,7.42,4.76,21.00,0.00,Danuta Dudzik,Kigar - Blotka Goleniów
3084,20719,0.00,2.37,13.32,1.10,0.03,28.09,0.00,Antoni Lipiński,Brak klubu
3085,21511,0.00,18.60,14.00,0.81,0.71,12.05,0.00,Włodzimierz Banasiewicz,Kigar - Blotka Goleniów

In [105]:
final_ranking=pd.read_csv("final_ranking.csv",index_col=False)

In [106]:
final_ranking[final_ranking['name']=='Bernard Kula']

      PID  new_ranking  difference  new_place          name
43  20240        93.74          43         44  Bernard Kula

In [114]:
stats=pd.read_csv("stats.csv",index_col=False)

In [104]:
update_df(25962)

        PID  new_ranking difference  new_place                name
0     06115       100.00          0          1  Radosław Szopiński
1     04349        99.47          0          2    Ryszard Łasowski
2     04153        98.78         +3          3     Ireneusz Iwanow
4     07906        98.69         +3          5    Andrzej Parmonik
3     02116        98.69         +3          4    Andrzej Rękosiak
...     ...          ...        ...        ...                 ...
3081  21471        26.38        -57       3082     Matylda Brzyzka
3082  21207        24.58        -57       3083   Zdzisław Tomyślak
3083  21082        22.95        -57       3084   Lesław Kaczmarski
3084  21753        22.50        -57       3085       Maria Ślebzak
3085  21747        22.50        -57       3086      Antoine Farine

[3086 rows x 5 columns]

------------------------

## Comparing positions in rankings
Our ranking should show also progress of player. We can count progress as difference between of position in last and recent ranking.

In [54]:
def generate_ranking_with_difference(old_ranking,new_ranking,df):
    old_ranking.reset_index(inplace=True)
    new_ranking.reset_index(inplace=True)
    
    old_ranking=old_ranking.rename(columns={'index':'old_place'})
    new_ranking=new_ranking.rename(columns={'index':'new_place'})
    new_ranking['new_place']=new_ranking['new_place']+1
    old_ranking['old_place']=old_ranking['old_place']+1
    
    
    tmp=new_ranking.merge(old_ranking,on='PID',how='outer')
    tmp=tmp.rename(columns={'ranking_y':'old_ranking','ranking_x':'new_ranking','name_x':'name'})
    
    tmp['difference']=tmp['old_place']-tmp['new_place']
    tmp=tmp[['PID','name','new_ranking','difference','new_place']]
    
    
    tmp=tmp.merge(df[['PID','name']],on='PID')
    tmp=tmp.drop('name_x',axis=1)
    tmp=tmp.rename(columns={'name_y':'name'})
    tmp=tmp.fillna(0)
    
    tmp['difference']=tmp['difference'].astype(np.int)
    tmp['difference']=tmp['difference'].astype(np.str)
    
    tmp=tmp.sort_values(by='new_ranking',ascending=False)
    
    for i in range (len(tmp['difference'])):
        if int(tmp['difference'][i])>0:
            tmp['difference'][i]="+"+tmp['difference'][i]
       
    
    return tmp

In [400]:
final_ranking,old_ranking,new_ranking=generate_ranking_with_difference(new_ranking_10,new_ranking_20)
final_ranking

        PID  new_ranking difference  new_place                  name
0     06115       100.00        626          1    Radosław Szopiński
1     04153        98.76       1516          2       Ireneusz Iwanow
2     02395        98.60          0          3  Krzysztof Rogoziński
3     07906        98.35          6          4      Andrzej Parmonik
4     02116        98.35          6          5      Andrzej Rękosiak
...     ...          ...        ...        ...                   ...
2984  21471        26.38          0       2985       Matylda Brzyzka
2985  21207        24.58       -538       2986     Zdzisław Tomyślak
2986  21082        22.95       -533       2987     Lesław Kaczmarski
2987  21753        22.50          0       2988         Maria Ślebzak
2988  21747        22.50          0       2989        Antoine Farine

[2989 rows x 5 columns]

In [9]:
stats_to_website

,PID,średnia_na_rozgrywce,średnia_na_obronie,kokosy na obronie,częściówka,końcówka,szlemik,wpadka,name,klub
0,1001,18.97,15.45,29.10,18.37,39.75,49.42,23.40,Andrzej Ankiersztejn,RAGLOT Talent Rzeszów
1,1006,41.84,90.74,23.55,53.54,98.88,98.99,29.02,Zdzisław Baryła,3 Pary Rzeszów
2,1008,71.24,67.34,32.32,97.56,59.77,12.45,9.97,Stanisław Bąk,Brak klubu
3,1010,7.27,27.22,39.03,11.62,13.09,22.01,21.52,Rena Bieda,Brak klubu
4,1024,55.91,71.77,89.69,56.02,51.29,73.49,36.60,Władysław Chodziński,Atut Łańcut
...,...,...,...,...,...,...,...,...,...,...
2662,21959,46.83,14.40,8.66,23.73,44.84,50.09,25.68,Wiesław Wójcik,ZZBS Szczecin
2663,21971,42.29,4.61,1.54,47.24,10.76,76.72,47.69,Ewa Powała,Klub brydżowy DOL-BY Bydgoszcz
2664,21972,42.29,4.61,1.54,47.24,10.76,76.72,47.69,Sławomir Powała,Klub brydżowy DOL-BY Bydgoszcz
2665,22073,10.20,11.70,36.56,8.92,1.80,25.27,32.28,Waldemar Rozmarynowski,Brak klubu
2666,22083,12.34,10.99,17.21,10.12,1.57,85.23,33.56,Mirosław Baj,STB Słupsk

In [401]:
final_ranking.to_csv("final_ranking.csv",index=False)
new_ranking_20.to_csv("new_ranking_20.csv",index=False)

In [3]:
final_ranking=pd.read_csv("final_ranking.csv",index_col=False)
stats_to_website=pd.read_csv("stats_to_website.csv",index_col=False)

In [5]:
stats_to_website.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PID                   2667 non-null   int64
 1   średnia_na_rozgrywce  2667 non-null   float64
 2   średnia_na_obronie    2667 non-null   float64
 3   kokosy na obronie     2667 non-null   float64
 4   częściówka            2667 non-null   float64
 5   końcówka              2667 non-null   float64
 6   szlemik               2667 non-null   float64
 7   wpadka                2667 non-null   float64
 8   name                  2667 non-null   object
 9   klub                  2667 non-null   object
dtypes: float64(7), int64(1), object(2)
memory usage: 208.5+ KB

In [8]:
stats_to_website.to_csv("stats_to_website.csv",index=False)

In [7]:
final_ranking

        PID  new_ranking  difference  new_place                  name
0      6115       100.00         626          1    Radosław Szopiński
1      4153        98.76        1516          2       Ireneusz Iwanow
2      2395        98.60           0          3  Krzysztof Rogoziński
3      7906        98.35           6          4      Andrzej Parmonik
4      2116        98.35           6          5      Andrzej Rękosiak
...     ...          ...         ...        ...                   ...
2984  21471        26.38           0       2985       Matylda Brzyzka
2985  21207        24.58        -538       2986     Zdzisław Tomyślak
2986  21082        22.95        -533       2987     Lesław Kaczmarski
2987  21753        22.50           0       2988         Maria Ślebzak
2988  21747        22.50           0       2989        Antoine Farine

[2989 rows x 5 columns]

In [4]:
final_ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2989 entries, 0 to 2988
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PID          2989 non-null   int64
 1   new_ranking  2989 non-null   float64
 2   difference   2989 non-null   int64
 3   new_place    2989 non-null   int64
 4   name         2989 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 116.9+ KB

-------

## Results

In [12]:
df

,0,PID,name,3,4,5,6,7,8
0,lokata,PID,imię i nazwisko,WZBS,WK,TK,PKL,liga,klub / drużyna
1,1.,06706,Apolinary Kowalski,WM,24,AS,189 039,E,VITAS ESBS Elblag
2,2.,08513,Piotr Gawryś,DS,24,AS,152 444,E,BRIDGESCANNER KS AZS Wratislavia I WR
3,3.,06658,Jacek Kalita,SW,24,AS,146 929,E,SPS CONSTRUCTION Kielce
4,4.,01221,Cezary Balicki,DS,24,AS,143 379,-,NaN
...,...,...,...,...,...,...,...,...,...
17233,NaN,15971,Bartosz Warwas,LD,0,D,1,-,NaN
17234,NaN,08612,Artur Wasiluk,PD,0,D,1,-,NaN
17235,NaN,14968,Tomasz Wąs,MA,0,D,1,-,NaN
17236,NaN,19826,Natalia Wąsowska,MA,0,D,1,-,NaN
17237,NaN,12113,Marcin Wesel,SL,0,D,1,-,NaN

In [188]:
stats

,PID,średnia_na_rozgrywce,średnia_na_obronie,Kokosy_na_Obronie,częściówka,końcówka,szlemik,Wpadka,liczba_rozdan_na_rozgrywce,liczba_rozdan_na_obronie,liczba_rozdan_Kokosy_na_Obronie,liczba_rozdan_częściówka,liczba_rozdan_końcówka,liczba_rozdan_szlemik,liczba_rozdan_Wpadka,name,Klub
0,01001,18.97,15.45,29.10,18.37,39.75,49.42,23.40,137,114,31,53,98,10,59,Andrzej Ankiersztejn,RAGLOT Talent Rzeszów
1,01006,41.84,90.74,23.55,53.54,98.88,98.99,29.02,34,19,12,16,10,1,14,Zdzisław Baryła,3 Pary Rzeszów
2,01008,71.24,67.34,32.32,97.56,59.77,12.45,9.97,10,19,4,9,12,1,3,Stanisław Bąk,Brak klubu
3,01010,7.27,27.22,39.03,11.62,13.09,22.01,21.52,122,154,57,77,83,3,56,Rena Bieda,Brak klubu
4,01024,55.91,71.77,89.69,56.02,51.29,73.49,36.60,210,210,85,107,138,16,74,Władysław Chodziński,Atut Łańcut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2662,21959,46.83,14.40,8.66,23.73,44.84,50.09,25.68,160,197,66,107,115,13,56,Wiesław Wójcik,ZZBS Szczecin
2663,21971,42.29,4.61,1.54,47.24,10.76,76.72,47.69,59,56,15,41,38,4,17,Ewa Powała,Klub brydżowy DOL-BY Bydgoszcz
2664,21972,42.29,4.61,1.54,47.24,10.76,76.72,47.69,59,56,15,41,38,4,17,Sławomir Powała,Klub brydżowy DOL-BY Bydgoszcz
2665,22073,10.20,11.70,36.56,8.92,1.80,25.27,32.28,31,49,16,32,15,6,11,Waldemar Rozmarynowski,Brak klubu
2666,22083,12.34,10.99,17.21,10.12,1.57,85.23,33.56,38,68,23,36,28,4,15,Mirosław Baj,STB Słupsk

In [44]:
history

,id,rozg,wynik,nr_rozdania,nr_turnieju,zapis,linia,m-ce,nr,%,nazwisko,wk,PID,czy_rozgrywa,zapis2
38,8,EW,93.40,8,25890,420.0,EW,485,8,39.61,Bogdan Sadowski,1.5,13237,True,końcówka
39,8,EW,93.40,8,25890,420.0,EW,485,8,39.61,Stanisław Gołdyn,2.0,13843,True,końcówka
48,8,EW,63.39,28,25890,110.0,EW,485,8,39.61,Bogdan Sadowski,1.5,13237,True,częściówka
49,8,EW,63.39,28,25890,110.0,EW,485,8,39.61,Stanisław Gołdyn,2.0,13843,True,częściówka
50,8,EW,55.34,29,25890,600.0,EW,485,8,39.61,Bogdan Sadowski,1.5,13237,True,końcówka
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61117,244,EW,35.59,27,17666,-100.0,EW,286,244,51.96,Jerzy Jakubowski,1.5,18390,True,Wpadka
61144,382,EW,59.75,14,17666,-50.0,EW,142,382,56.07,Wojciech Wojsa,0.5,13918,True,Wpadka
61145,382,EW,59.75,14,17666,-50.0,EW,142,382,56.07,Michał Szadkowski,0.0,18841,True,Wpadka
61170,382,EW,35.59,27,17666,-100.0,EW,142,382,56.07,Wojciech Wojsa,0.5,13918,True,Wpadka
61171,382,EW,35.59,27,17666,-100.0,EW,142,382,56.07,Michał Szadkowski,0.0,18841,True,Wpadka

In [437]:
players_progress

,25890,25845,25809,25773,25737,25692,24384,24339,24303,24267,...,24186,24150,22079,22043,21800,21764,21728,17693,17666,PID
0,39.61,NaN,NaN,38.45,42.18,42.23,38.82,37.61,NaN,45.72,...,37.44,NaN,40.90,44.43,54.10,49.42,NaN,36.63,NaN,13237.0
1,39.61,40.25,NaN,38.45,42.18,42.23,38.82,37.61,NaN,45.72,...,37.44,NaN,40.90,44.43,54.10,NaN,NaN,36.63,NaN,13843.0
2,54.15,54.51,44.35,54.36,50.56,50.79,58.09,55.30,57.51,NaN,...,NaN,NaN,52.04,52.15,48.86,54.84,52.44,NaN,56.07,1257.0
3,54.15,54.51,44.35,54.36,50.56,50.79,58.09,55.30,57.51,50.40,...,57.58,51.53,52.04,52.15,48.86,54.84,52.44,52.31,56.07,1354.0
4,64.60,57.81,45.26,51.34,57.57,57.59,NaN,58.98,57.32,NaN,...,NaN,NaN,51.56,NaN,NaN,NaN,48.67,NaN,58.32,1273.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,50.15,NaN,NaN,8466.0
2985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,45.28,52.44,NaN,17947.0
2986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.31,NaN,17689.0
2987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.36,1725.0
2988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.97,9265.0

Obviously we don't want to call these functions every time. We can save data frames to `.csv files`. So we need to write 2 more functions.

In [441]:
def save_to_csv(df,history,stats,scores,players_progress,new_ranking_20):
    df.to_csv("df.csv",index=False)
    history.to_csv("history.csv",index=False)
    stats.to_csv("stats.csv",index=False)
    scores.to_csv("scores.csv",index=False)
    players_progress.to_csv("players_progress.csv",index=False)
    new_ranking_20.to_csv("new_ranking_20.csv",index=False)

In [443]:
save_to_csv(df,history_to_compare,stats,scores,players_progress,new_ranking_20)

In [16]:
df,history,stats,scores,players_progress,new_ranking=get_from_csv()

In [29]:
def get_from_csv():
    df=pd.read_csv("df.csv",index_col=False)
    history=pd.read_csv("history.csv",index_col=False)
    stats=pd.read_csv("stats.csv",index_col=False)
    scores=pd.read_csv("scores.csv",index_col=False)
    players_progress=pd.read_csv("players_progress.csv",index_col=False)
    new_ranking=pd.read_csv("new_ranking.csv",index_col=False)
    
    df['PID']=df['PID'].astype(str)
    df=five_zeros(df)
    
    history['PID']=history['PID'].astype(str)
    history=five_zeros(history)
    
    stats['PID']=stats['PID'].astype(str)
    stats=five_zeros(stats)
    
    
    players_progress['PID']=players_progress['PID'].astype(str)
    players_progress=five_zeros(players_progress)
    
    new_ranking['PID']=new_ranking['PID'].astype(str)
    new_ranking=five_zeros(new_ranking)
    
    return df,history,stats,scores,players_progress,new_ranking

## Creating data frames in English

In [34]:
def english_data_frame(history,stats,scores):
    scores_eng=scores.copy()
    history_eng=history.copy()
    stats_eng=stats.copy()
    
    history_eng['zapis2']=history_eng['zapis2'].replace({'końcówka':'game', 'częściówka':'partial', 'szlemik':'slame or above', 'Kokosy_na_Obronie':'defence_profit', 'Wpadka':'defeat'})
    
    scores_eng.columns=['place','pair_id','score','tournament_number','name','WK','PID']
    history_eng.columns=['id','played_by','score_%_board','board_number','tournament_number','score_points','line','place','number','score_%_turnament','name','WK','PID','is_declarer','contract_type']
    stats_eng.columns=['PID','avg_declarer','avg_defence','defence_profit','partial','game','slame or above','defeat','name']
    
    return history_eng,stats_eng,scores_eng

In [35]:
history_eng,stats_eng,scores_eng=english_data_frame(history,stats,scores)

## Other useful functions

In [28]:
def five_zeros(df):
    wektor=[]
    for v in df['PID']:
        wektor.append(v.rjust(5,'0'))
    df['PID']=wektor
    return df

In [48]:
df.to_json (f'C:\\Users\\p.okonek\\Documents\\Java projekty\\BridgeApp\\json\\data_frame_{x}.json')

In [51]:
v=[df,history,stats,scores,players_progress,new_ranking]
z=['df','history','stats','scores','players_progress','new_ranking']
k=0
for i in v:
    i.to_json (f'C:\\Users\\p.okonek\\Documents\\Java projekty\\BridgeApp\\json\\data_frame_{z[k]}.json')
    k=k+1

In [16]:
players_progress['PID']=players_progress['PID'].astype(int)

In [43]:
df,history,stats,scores,players_progress,new_ranking=get_from_csv()

In [13]:
players_progress=pd.read_csv("players_progress.csv")

In [17]:
players_progress=players_progress.set_index(players_progress['PID'])

In [18]:
players_progress=players_progress.drop('PID',axis=1)

In [19]:
players_progress.to_json('C:\\Users\\p.okonek\\Documents\\Java projekty\\BridgeApp\\json\\players_progress.json')

In [124]:
save_to_csv(df,history,stats,scores,players_progress,new_ranking)

## Finish?
Now we can easily create data frames which we want to run our `bridge app`. However, looking only at history data can be quite boring. We need also function which synchronises archive data frames with new results. The quickest way is to concatenate archive with fresh results (`scores` and `history`). Having new version of data we can update `stats` and `players_progress`.

In [78]:
def concatenate_scores_or_history(df_archive,df_fresh):
    return pd.concat([df_archive,df_fresh])

To get the new stats we have to call `final_stats()` once again with changed arguments.

## Conclusion
To sum up, we know that we use some simplification in our app. It's caused of not having access to some data. The problem can also be the `df` with players. It should be quite oft updating to not skip rising bridge star. In this moment we finish our work with `.csv files` and start to develop app, which perfectly visualise our idea.

## Appendix
In appendix we focus on generating ranking of players. We don't need to crete any additionall data frames. We use function `generate_ranking()`. This function is responsible only for selecting and sorting data but output would be quite helpful during developping the app.

In [125]:
def generate_sort_ranking_df(stats):

    vector=['średnia_na_rozgrywce', 'średnia_na_obronie', 'Kokosy_na_Obronie', 'częściówka', 'końcówka', 'szlemik', 'Wpadka']
    
    for v in vector:
        df=generate_ranking(v,stats)
        df.to_csv(f'{v}_sort_df.csv',index=False)

In [126]:
generate_sort_ranking_df(stats)